*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'jost' sans-serif;
    scroll-behavior: smooth;
}
h1 h2 h3 h4 h5 h6 p {
    line-height: 0.8;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
:root{
    --bg-color:#fff;
    --text-color:#000;
    --secound-color: #a09dab;
    --main-color:#f75023;
    --big-font: 5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
  
}
header{
    position: fixed;
    width:100%;
    top:0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: .3s;
}
.logo img{
max-width:100%;
width:130px;
height: auto;
}
/* =====nav part=== */
.nav-list{
    display: flex;
}
.nav-list li{
    position: relative;
}
.nav-list a{
    font-size: var(--p-font);
    color:var(--text-color);
    padding: 10px 27px;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    text-transform: capitalize;
}
.nav-list a::after{
    content:'';
    position: absolute;
    width:0;
    height: 2px;
     background: var(--main-color); 
    bottom: -3px;
    left:0;
    transition: ease  .40s;
}
.nav-list a:hover::after{
    width:100%;
}
.top-btn{
    display: inline-block;
    padding: 9px 10px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    font-size: var(--p-font);
    letter-spacing: 1px;
    color:var(--text-color);

}
.top-btn:hover{
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(--main-color);
    color:var(--bg-color);
}
#menu-icon{
 font-size: 35px;
 color: var(--text-color);
 z-index: 10001;
 cursor: pointer;
}
.top-btn{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border:2px solid var(--main-color);
    border-radius: 30px;
    font-size: var(--p-font);
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 500;
    transition: ease .50s;
    
}
.top-btn:hover{
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(--main-color);
    color:var(--bg-color);
    border:2px solid var(--bg-color)
}
section{
    padding: 100px 18%;
}
/* ====home part===== */
.home{
    min-height: 100vh;
    height: 100%;
    width:100%;
     /* background-image:url(../images/t.jpg);  */
    background-position: center;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    align-items: center;
    grid-gap:4rem;
}
.home-text h1{
    margin: 10px 0px 25px;
    line-height: 1;
    font-weight: 500;
    font-size: var(--big-font);
    font-family: 'Jost', sans-serif;
}
span{
    color: var(--main-color);
  
}
.home-text h3{
   color: var(--main-color);
   font-size: 20px;
    font-weight: 500;
}
.home-text h5{
    margin-bottom: 23px ;
    font-size: 19px;
    font-weight: 500;
}
.home-text p {
    color:var(--secound-color);
    font-size: var(--p-font);
    line-height: 28px;
    margin-bottom: 20px;
}
.social a {
    width:35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    margin-right: 22px;
    margin-bottom: 30px;
}
.btn{
    display: inline-block;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 40px;
    font-weight: 500px;
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;
}
.btn:hover{
    transform: scale(1.1);
}
.home-img{
    width:540px;
    max-width: 100%;
    height: auto;
}
header.Sticky{
    background: #f75023;
    padding: 13px 30px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
/* =====service part==== */
.sub-img img{
    max-width: 100%;
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}
.item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
  
}
.sub-box{
    padding: 45px 45px 45px 45px;
    transition: ease .50s;
    cursor: pointer;
}
.sub-service{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    align-items: center;
    grid-gap: 2rem ;
    text-align: center;
    margin-top: 5rem;
}
.sub-box p{
    color: var(--secound-color);
    font-size: var(--p-font);
    line-height:29px
}
.sub-box h3{
   margin-bottom: 20px;
    font-size:24px;
    font-weight: 500;
}
.sub-box:hover{
background-color: #fff;
box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
border-radius: 12px;
will-change: transform;
transform: perspective(1000px)rotateX(4.80deg)rotateY(10.23deg)scale3d(1.05,1.05,1.05);
}
/* ======about part==== */
.about{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 2rem ;
}
.about-img img{
    width:540px;
    height: auto;
    max-width: 100%;
}
.about-text h2{
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 8px 0px 25px;
    line-height: 1.1;
}
.about-text h3{
    font-size:20px ;
    color: var(--main-color);
    font-weight: 500;
}
.about-text p {
    max-width: 550px;
    font-size: var(--p-font);
    color: 28px;
    margin-bottom: 45px;
}
/* ======protfolio part===== */
.heading{
    text-align: center;
}
.heading h2{
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 7px 0px 20px;
    line-height: 1.1;
}
.heading h3 {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
}
.heading p {
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
}
.protfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    align-items: center;
    grid-gap: 2rem ;
    text-align: center;
    margin-top: 5rem;
}
.col{
    position: relative;
}
.col img{
    max-width: 100%;
    width:550px;
    height: auto;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    border-radius: 12px;
    transition: all .40s;
}
.layer:hover{
    background: linear-gradient(rgba(0,0,0,0.5)0%,#191919);
}
.layer h3{
    position: absolute;
    width:100%;
    font-size: 25px;
    font-weight: 500;
    color: var(--bg-color);
    left:50%;
    bottom: 0;
    transform:translateX(-50%);
    opacity: 0;
    transition: all .40s;
}
.layer:hover h3{
    bottom: 52%;
    opacity: 1;
}
.layer h5{
    position: absolute;
    width:100%;
    font-size: 17px;
    font-weight: 500;
    color: var(--bg-color);
    left:50%;
    bottom: 0;
    transform:translateX(-50%);
    opacity: 0;
    transition: all .45s;
}
.layer:hover h5{
    bottom: 45%;
    opacity: 1;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,auto));
    align-items: center;
    grid-gap: 2rem ;
    margin-top: 5rem;
}
.row{
    background-color: #fff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%); 
    border-radius: 12px;
    padding: 45px 45px 45px 45px;
    transition: all .40s;
    cursor: pointer;
}
.s img{
    height: 65px;
    width:65px;
    background: #f75124;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.s.s-one img{
    background: aquamarine;
}
.s.s-two img{
    background: burlywood
}
.s.s-three img{
    background:blueviolet
}
.row h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
}
.row h5{
    font-size: 17px;
    font-weight:500;
    margin-bottom: 19px;
}
.row p{
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height:28px;
}
.row:hover{
    will-change: transform;
    transform: perspective(1000px)rotateX(4.80deg)rotateY(10.23deg)scale3d(1.05,1.05,1.05);
    transition: all .40s;
    cursor: pointer;
}
/* ====work part===== */
.cta-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    align-items: center;
    grid-gap: 2rem ;
    margin-top: 5rem;
    text-align: center;
}
.wrap{
    background: #fff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%); 
    border-radius: 12px;
    padding: 50px 50px 50px 50px;
    transition: all .40s;
    cursor: pointer;
}
.wrap p {
    font-size: var(--p-font);
}
.wrap h3 {
    font-size:24px;
    font-weight: 500;
   margin-bottom: 2px;
}
.one{
    background: #baebcd;
}
.three{
    background: #faedce;
}
/* =====contact==== */
.contact{
    background: #8067f0eb;
    width:64%;
    margin: 100px auto;
    padding: 70px 150px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    background-image:url(../images/6.webp);
    background-size: cover;
    justify-content: center;
}
.center h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3px;
    color: var(--bg-color);
}
.center p{
    font-size:var(--p-font);
    font-weight: 500;
    line-height: 26px;
    color: var(--bg-color);
    margin-bottom: 25px;
}
.contact .action form input[type="email"]{
    max-width: 100%;
    width:470px;
    padding: 12px 15px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    margin: 0px 10px 20px 0;
    border-radius: 30px;

}
.contact .action form input[type="submit"]{
    padding: 12px 40px;
    background: var(--main-color);
    color: var(--bg-color);
    border: none;
    outline: none;
    margin: 0px 10px 20px 0;
    border-radius: 30px;  
}
.ends{
    text-align: center;
    padding: 40px;
}
.ends p{
    font-size: var(--p-font);
}
/* =====responsive==== */
@media(max-width: 1425px) {
    header{
        padding: 16px 3%;
        transition: 3s;
    }
    header .sticky{
        padding: 10px 3%;
    transition: 3s;
    }
    section{
        padding: 70px 3%;
        transition: 3s;
    }
    .contact{
        width:95%;
        transition: 3s;
    }
    :root{
        --bg-font:4rem;
        --bg-color:#fff;
        --h2-font:2.3rem;
        --p-font:1rem;
        transition: 3s;
    }

    }
    @media(max-width: 970px){
       #menu-icon{
        display: block;
       }
       .home{
        min-height: 80vh;
       }
       .nav-list{
        position: absolute;
        top:-600px;
        left:0;
        right: 0;
        flex-direction: column;
        background: var(--main-color);
        text-align: right;
        transition: 3s;

       }
       .nav-list a{
        display: block;
        padding: 1.2rem;
        margin:1.5rem;
        border-right:2px solid var(--bg-color);
        color: var(--bg-color);
       }
       .nav-list a:hover{
        background:var(--bg-color) ;
        color:var(--main-color)
       }
       .nav-list a::after{
        display: none;
       }
       .nav-list .active{
        width:100%;
       }
    }
    @media(max-width: 800px) {
        .home{
            grid-template-columns: 1fr;
            min-height: 130vh;
            grid-gap: 1rem;
        }
        .home-text{
            padding-top: 55px;
           
            }
            .home-img{
                text-align: center;
            }
            .home-img img{
                width:440px;
                height: auto;
            }
            .about{
                grid-template-columns: 1fr;
            }
            .about-img{
                text-align: center;
                margin-top: 30px;
            }
            :root{
                --big-font: 3.4rem;
                --h2-font: 2rem;
            }
            section{
                padding: 65px 3%;
                transition: 3s;
            }
     
    }

    @media(max-width:540px){
        .contact .action form input[type="submit"]{
            width:310px;
        }
    }






















/* =======font==== */
font-family: 'Abril Fatface', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Nunito', sans-serif;